<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/user-navigation.ejs') %>
      <div class="hero">
        <div class="hero-banner">
          <h1>Continue Exploring</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            fugiat facilis est! Iure, dignissimos? In.
          </p>
          <a href="#featured" class="btn hero-btn scroll-link">explore tours</a>
        </div>
      </div>
    <main>
      <h1>Welcome all</h1>
    </main>
    
<%- include('../includes/end.ejs') %>