<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/user-navigation.ejs') %>
      <div class="hero">
      </div>
    <main>
    </main>
    
<%- include('../includes/end.ejs') %>